.letters-tight {
  letter-spacing: -.5px;
}

.letters-tighter {
  letter-spacing: -1px;
}

.font-size-large {
  font-size: 1rem;
  line-height: 1;
}

.text-shadow {
  text-shadow: 1px 1px #000;
}

.text-translucent {
  opacity: .65;
}